.loginh1 {
	font-weight: 300;
	font-size: 36px;
	line-height: normal;
	margin: auto;
	margin-top: 30px;
	text-align: center;
}
.templatemo-bg-image-1 {
	width: auto;
	height: auto;
	background-color: rgb(60, 60, 60);
	background-image: url(../images/templatemo-bg-1.jpg);
}
. .fa-medium {
	font-size: 20px;
}
.inline-block {
	display: inline-block;
}
.templatemo-create-new:hover {
	color: #138892;
	text-decoration: none;
}
/*-------------------------------------
3. login-form-2
---------------------------------------*/

.templatemo-login-form-2 {
	background-color: rgba(13, 13, 0, 0.25);
	border-radius: 8px;
	color: #fff;
	font-weight: 300;
	max-width: 650px;
	padding: 0 30px 30px 30px;
	margin: 30px auto 0 auto;
}
/* 中间面板内容*/

.templatemo-login-form-2 h1 {
	color: #fff;
	margin-bottom: 40px;
}
.templatemo-login-form-2 a {
	color: #DBDBDB;
}
.templatemo-login-form-2 .form-control {
	background-color: rgba(83, 78, 78, 0.35);
	border: 1px solid rgba(255, 255, 255, 0.27);
	color: rgb(255, 255, 255);
}
.templatemo-login-form-2 .templatemo-input-icon-container .fa {
	color: rgb(190, 190, 190);
}
.templatemo-login-form-2 .control-label {
	margin-bottom: 10px;
}
.templatemo-login-form-2 .btn {
	width: 100%;
}
.templatemo-login-form-2 .btn-social {
	max-width: 220px;
}
.templatemo-login-form-2 label {
	font-weight: 400;
}
.templatemo-login-form-2 .templatemo-one-signin {
	border-right: 1px solid rgba(200, 200, 200, 0.5);
}
.templatemo-forgot-password-form {
	background-color: #fff;
	max-width: 550px;
	margin: 0 auto;
	padding: 30px;
}